@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .dark {
    --background: #1a202c; /* bg-gray-900 */
    --foreground: #f7fafc; /* text-gray-100 */

    --card: #1a202c; /* bg-gray-900 */
    --card-foreground: #f7fafc; /* text-gray-100 */

    --popover: #1a202c; /* bg-gray-900 */
    --popover-foreground: #f7fafc; /* text-gray-100 */

    --primary: #f7fafc; /* text-gray-100 */
    --primary-foreground: #1a202c; /* bg-gray-900 */

    --secondary: #2d3748; /* bg-gray-800 */
    --secondary-foreground: #f7fafc; /* text-gray-100 */

    --muted: #2d3748; /* bg-gray-800 */
    --muted-foreground: #a0aec0; /* text-gray-600 */

    --accent: #2d3748; /* bg-gray-800 */
    --accent-foreground: #f7fafc; /* text-gray-100 */

    --destructive: #e53e3e; /* bg-red-600 */
    --destructive-foreground: #f7fafc; /* text-gray-100 */

    --border: #2d3748; /* border-gray-800 */
    --input: #2d3748; /* bg-gray-800 */
    --ring: #718096; /* border-gray-500 */
  }

  :root {
    --background: #ffffff; /* bg-white */
    --foreground: #1a202c; /* text-gray-900 */

    --card: #ffffff; /* bg-white */
    --card-foreground: #1a202c; /* text-gray-900 */

    --popover: #ffffff; /* bg-white */
    --popover-foreground: #1a202c; /* text-gray-900 */

    --primary: #1a202c; /* text-gray-900 */
    --primary-foreground: #f7fafc; /* bg-gray-100 */

    --secondary: #edf2f7; /* bg-gray-100 */
    --secondary-foreground: #1a202c; /* text-gray-900 */

    --muted: #edf2f7; /* bg-gray-100 */
    --muted-foreground: #4a5568; /* text-gray-600 */

    --accent: #edf2f7; /* bg-gray-100 */
    --accent-foreground: #1a202c; /* text-gray-900 */

    --destructive: #e53e3e; /* bg-red-600 */
    --destructive-foreground: #f7fafc; /* text-gray-100 */

    --border: #e2e8f0; /* border-gray-200 */
    --input: #e2e8f0; /* bg-gray-200 */
    --ring: #1a202c; /* border-gray-900 */
  }
}

/*
@layer base {
  * {
    @apply border-gray-200; 
  }
  body {
    @apply text-gray-900 bg-white; 
  }
} 
*/

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.5);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.5);
}
